body{
    background-image: url('./smieci.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-style: italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15%;
}
.hide{
    display:none;
}
button{
    background-color: darkcyan;
    border-radius: 50%;
    border-color: darkgreen;
    border-width: 4px;
    border-style: double;
    padding: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bolder;
}
button:hover{
    border-width: 7px;
    background-color: darkorange;
}
h2{
    background-color: gray;
    opacity: .6;
    height: 65px;
    width: 70vw;
    margin-left: 15vw;
    color: white;
    font-size: 32px;
    border-radius: 20%;
    font-weight: bolder;
}
#wui{
    background-color: gray;
    opacity: .6;
    width: 50vw;
    margin-left: 22vw;
    margin-top: 10%;
}
#wynik{
    font-size: 30px;
    color: ivory;
    background-color: black;
    opacity: .6;
    width: 40%;
    margin-left: 30vw;
    height: 100px;
    border-radius: 33%;
    margin-top: 10%;
    animation-duration: 4s;
    animation-name: pokaz;
}
@keyframes pokaz {
    from{opacity: 0}
    to{opacity: .6}
}
#wui:hover{opacity: 1;}
#wynik:hover{opacity: 1;}
h2:hover{opacity: 1;}